* {
    margin: 0;padding: 0;box-sizing: border-box;
}
.container {
    max-width: 1300px;background-color: bisque;margin: 0 auto;
}
.row {
    width: 48%;padding: 10px;float: left;
}
img {
    width: 60%;
}







@media only screen and (max-width: 768px) {
    .row {
        width: 100%;
    }
}